@inherits Umbraco.Web.Mvc.UmbracoViewPage<HighlyDeveloped.Core.ViewModel.ResetPasswordViewModel>
@using HighlyDeveloped.Core.Controllers
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

<!-- Have we posted? Is it success? -->
<!-- Display thanks -->
@if (TempData["status"] != null && (string)TempData["status"] == "OK")
{
    <h3>Password changed</h3>
    <p>Your password was changed, please login now with your new credentials</p>
    <a href="/login">Go to login</a>
}
else
{
    <!-- Otherwise -->
    <!-- Show the form -->
    <div class="container">
        <div class="row">
            <div class="col">

                @using (Html.BeginUmbracoForm<LoginController>("HandleResetPassword"))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                <fieldset>
                    <legend>Reset your passdword</legend>
                    <p>
                        Enter a new password followed by the same password again for confirmation.
                        Your password must be at least 10 characters and contain 1 number and 1 special character.
                    </p>
                    <div class="form-group">
                        <div class="editor-label">
                            @Html.LabelFor(m => m.Password)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="editor-label">
                            @Html.LabelFor(m => m.ConfirmPassword)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(m => m.ConfirmPassword)
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" name="submit">Change password</button>
                    </div>
                </fieldset>
                }

            </div>
        </div>
    </div>
}

